# Set default behavior to automatically normalize line endings
* text=auto

# Force the following filetypes to have Unix line endings
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf

# Handle images and other binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary

# Database files
*.db binary
*.sqlite binary

# Lock-Files should use native line endings
package-lock.json text eol=crlf
requirements.txt text eol=lf